<form [formGroup]="imageForm">
  <mat-form-field class="w-100 px-5">
    <ngx-mat-file-input
      #imageInput
      [accept]="'image/png, image/jpeg, image/gif'"
      (change)="processFile($event)"
      formControlName="imageFile"
      placeholder="Escolha uma imagem"
    ></ngx-mat-file-input>
    <button mat-icon-button matSuffix *ngIf="!imageInput.empty" (click)="clearImage($event)">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
</form>
<div class="pl-2" *ngIf="(photoElement$ | async) && photoFile">
  <ul class="padded-list">
    <li>
      <i class="fas fa-arrows-alt-h mr-2"></i>
      <span class="font-weight-bold mr-2">
        Largura (original/atual):
      </span>
      {{ (photoElement$ | async).naturalWidth | number }}px / {{ (photoElement$ | async).width | number}}px
    </li>
    <li>
      <i class="fas fa-arrows-alt-v mr-2"></i>
      <span class="font-weight-bold mr-2">
        Altura (original/atual):
      </span>
      {{ (photoElement$ | async).naturalHeight | number }}px / {{ (photoElement$ | async).height | number }}px
    </li>
    <li>
      <i class="fas fa-weight-hanging mr-2"></i>
      <span class="font-weight-bold mr-2">
        Tamanho:
      </span>
      {{ photoFile.size | filesize }}
    </li>
    <li>
      <i class="fas fa-calendar-alt mr-2"></i>
      <span class="font-weight-bold mr-2">
        Última modificação:
      </span>
      {{ photoFile.lastModified | date }}
    </li>
  </ul>
</div>
