<perfect-scrollbar #sidenavInner class="sidenav px-3">

  <br>

  <div *ngIf="(sidenavService.viewMode | async) == 'over'">
    <span class="d-flex align-items-center mt-1 mb-3 justify-content-center navbar-brand">
      <img src="/assets/images/caixa-logo-x.png" class="img-fluid img-logo rounded mr-2">
      <h6 class="text-center text-opac-1 text-uppercase mb-0">{{ appName | uppercase }}</h6>
    </span>
    <hr class="border-secondary-light color-opac-2 my-3">
  </div>

  <h6 class="text-opac-1 mb-3">Menu Flutuante</h6>
  <span *ngFor="let item of menuItems">
    <!-- Handle branch node buttons here -->
    <span *ngIf="item.children && item.children.length > 0">
      <button class="w-100 sidenavMenuItem" mat-menu-item [matMenuTriggerFor]="menu.childMenu"
      [ngClass]="{'active': item.route ? router.isActive(item.route, false): false}"
      [disabled]="item.disabled">
        <mat-icon>{{ item.iconName }}</mat-icon>
        {{item.displayName}}
        <mat-icon>arrow_right</mat-icon>
      </button>
      <app-navigation-item #menu [items]="item.children"></app-navigation-item>
    </span>
    <!-- Leaf node buttons here -->
    <span *ngIf="!item.children || item.children.length === 0">
      <button class="w-100 sidenavMenuItem" mat-menu-item [routerLink]="item.route" routerLinkActive="active">
        <mat-icon>{{ item.iconName }}</mat-icon>
        {{item.displayName}}
      </button>
    </span>
  </span>

  <hr class="color-opac-1 my-3">

  <h6 class="text-opac-1 mb-3">Menu em Cascata</h6>
  <mat-nav-list class="p-0">
    <app-menu-list-item *ngFor="let item of menuItems" [item]="item"></app-menu-list-item>
  </mat-nav-list>

</perfect-scrollbar>
