<app-ngx-spinner-default></app-ngx-spinner-default>

<app-toolbar></app-toolbar>

<main>
  <mat-sidenav-container [style.height.px]="bodyHeight" (backdropClick)="toggleSidenav()">
    <mat-sidenav #sidenav
      [ngClass]="{'p-fixed': (sidenavService.viewMode | async) == 'over'}"
      [attr.role]="(sidenavService.role | async)"
      [mode]="(sidenavService.viewMode | async)"
      [opened]="(sidenavService.isOpened() | async)">
      <app-sidenav></app-sidenav>
    </mat-sidenav>

    <mat-sidenav-content>
      <div [@routeAnimations]="prepareRoute(outlet)" class="bg-light p-4">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
