/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
	#containerPhotoPreview {
    width: 414px;
    height: 270px;
  }
  #photoPreview {
    max-width: 384px;
    max-height: 240px;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
	#containerPhotoPreview {
    width: 462px;
    height: 300px;
  }
  #photoPreview {
    max-width: 432px;
    max-height: 270px;
  }
}

/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
	#containerPhotoPreview {
    width: 370px;
    height: 370px;
  }
  #photoPreview {
    max-width: 340px;
    max-height: 340px;
  }
}

/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
	#containerPhotoPreview {
    width: 622px;
    height: 400px;
  }
  #photoPreview {
    max-width: 592px;
    max-height: 370px;
  }
}
