<div class="row pt-5 mx-0">

	<div class="col-md-6">

    <app-photo
      [src]="photoSrc"
    ></app-photo>

    <br>

    <form [formGroup]="imageForm">
      <mat-form-field class="w-100 px-5">
        <ngx-mat-file-input
          #imageInput
          (change)="processFile($event)"
          [accept]="'image/*'"
          formControlName="imageFile"
          placeholder="Escolha uma imagem"
        ></ngx-mat-file-input>
        <button mat-icon-button matSuffix *ngIf="!imageInput.empty" (click)="clearImage($event)">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
    </form>

	</div>

	<div class="col-md-6">
    <app-detection-attributes></app-detection-attributes>
	</div>

</div>
