<div class="row pt-5 mx-0">

	<div class="col-md-6">

    <app-photo
      [src]="photoSrc"
      (photoDataEvent)="receivePhotoData($event)"
    ></app-photo>

    <br>

    <form [formGroup]="imageForm">
      <mat-form-field class="w-100 px-5">
        <ngx-mat-file-input
          #imageInput
          (change)="processFile($event)"
          [accept]="'image/*'"
          formControlName="imageFile"
          placeholder="Escolha uma imagem"
        ></ngx-mat-file-input>
        <button mat-icon-button matSuffix *ngIf="!imageInput.empty" (click)="clearImage($event)">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
    </form>
    <div class="pl-2" *ngIf="photoData && file">
      <ul class="padded-list">
        <li>
          <span class="font-weight-bold mr-2">
            Largura (original/atual): </span>
            {{ photoData.naturalWidth | number}}px / {{ photoData.width | number}}px
        </li>
        <li>
          <span class="font-weight-bold mr-2">
            Altura (original/atual): </span>
            {{ photoData.naturalHeight | number }}px / {{ photoData.height | number }}px
        </li>
        <li>
          <span class="font-weight-bold mr-2">
            Tamanho: </span>
            {{ file.size | filesize }}
        </li>
        <li>
          <span class="font-weight-bold mr-2">
            Última modificação: </span>
            {{ file.lastModified | date }}
        </li>
      </ul>
    </div>

	</div>

	<div class="col-md-6">
    <app-detection-attributes
      [detectionAttributes$]="attributes$"
      [photoDimensions]="photoDimensions"
    ></app-detection-attributes>
	</div>

</div>
