@import "./styles/variables";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/utilities";
@import "./styles/reset";

@import '~@angular/material/theming';

@include mat-core();

$face-detect-webapp-primary: mat-palette($mat-blue, 700, 100, 500);
$face-detect-webapp-accent: mat-palette($mat-orange, 800, 200, 400);

$face-detect-webapp-warn: mat-palette($mat-red);

$face-detect-webapp-theme: mat-light-theme($face-detect-webapp-primary, $face-detect-webapp-accent, $face-detect-webapp-warn);

@include angular-material-theme($face-detect-webapp-theme);

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

ul { list-style: none };

.padded-list > li { padding-top: 1rem };

.mat-tab-body { margin-top: 1rem; }

mat-form-field { width: 100% !important; }

.mat-tab-body-wrapper { height: 100%; }

mat-sidenav {
  max-width: 70% !important;
}

@include media-breakpoint-up(md) {
  mat-sidenav {
    max-width: 50% !important;
  }
}

@include media-breakpoint-up(lg) {
  mat-sidenav {
    max-width: 30% !important;
  }
}

 @include media-breakpoint-up(xl) {
  mat-sidenav {
    max-width: 20% !important;
  }
 }

.h-85 { height: 85%; }
.h-90 { height: 90%; }

.form-group {
  margin-bottom: 1rem;
}

.opac-8 {
  opacity: 0.8;
}

.opac-5 {
  opacity: 0.5;
}

.opac-3 {
  opacity: 0.3;
}

.p-fixed {
  position: fixed !important;
}

