@import "./styles/bootstrap-variables";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/utilities";
@import "./styles/material-custom-colors";
@import "./styles/reset";

@import '~@angular/material/theming';

$config: mat-typography-config(
  $font-family: 'Futura LT Book, Roboto, sans-serif',
  $input: mat-typography-level(17px, 1.5, 400)
);

@include mat-core($config);

$face-detect-webapp-primary: mat-palette($mat-caixa-primary, 500, 400, 800);
$face-detect-webapp-accent: mat-palette($mat-caixa-accent, 500, 900, 800);
$face-detect-webapp-warn: mat-palette($mat-caixa-warn, 500, 900, 800);

$face-detect-webapp-theme: mat-light-theme($face-detect-webapp-primary, $face-detect-webapp-accent, $face-detect-webapp-warn);

@function my-mat-light-theme-foreground($color) {
  @return (
      base:              $color,
      divider:           $black-12-opacity,
      dividers:          $black-12-opacity,
      disabled:          rgba($color, 0.38),
      disabled-button:   rgba($color, 0.38),
      disabled-text:     rgba($color, 0.38),
      hint-text:         rgba($color, 0.38),
      secondary-text:    rgba($color, 0.54),
      icon:              rgba($color, 0.54),
      icons:             rgba($color, 0.54),
      text:              rgba($color, 0.87),
      slider-off:        rgba($color, 0.26),
      slider-off-active: rgba($color, 0.38),
  );
};

// You can put any color here. I've chosen mat-color($my-app-primary, 700)
$my-foreground: my-mat-light-theme-foreground(mat-color($mat-caixa-font, main));
$face-detect-webapp-theme: map-merge($face-detect-webapp-theme, (foreground: $my-foreground));
@include angular-material-theme($face-detect-webapp-theme);

.mat-azul {
  background-color: mat-color($mat-caixa-azul, standard) !important;
  color: white !important;
}
.mat-azul-light {
  background-color: mat-color($mat-caixa-azul, light) !important;
  color: #FFFFFF !important
}
.mat-azul-dark {
  background-color: mat-color($mat-caixa-azul, dark) !important;
  color: #FFFFFF !important
}
.mat-stroked-button.mat-azul {
  background-color: white !important;
  color: mat-color($mat-caixa-azul, standard) !important;
}
.mat-stroked-button.mat-azul-light {
  background-color: white !important;
  color: mat-color($mat-caixa-azul, light) !important;
}
.mat-stroked-button.mat-azul-dark {
  background-color: white !important;
  color: mat-color($mat-caixa-azul, dark) !important;
}

.mat-secondary {
  background-color: mat-color($mat-caixa-secondary, standard) !important;
  color: white !important;
}
.mat-secondary-light {
  background-color: mat-color($mat-caixa-secondary, light) !important;
  color: mat-color($mat-caixa-font, main) !important
}
.mat-secondary-dark {
  background-color: mat-color($mat-caixa-secondary, dark) !important;
  color: white !important
}
.mat-stroked-button.mat-secondary {
  background-color: white !important;
  color: mat-color($mat-caixa-secondary, standard) !important;
}
.mat-stroked-button.mat-secondary-light {
  background-color: white !important;
  color: mat-color($mat-caixa-secondary, light) !important;
}
.mat-stroked-button.mat-secondary-dark {
  background-color: white !important;
  color: mat-color($mat-caixa-secondary, dark) !important;
}

.mat-success {
  background-color: mat-color($mat-caixa-success, standard) !important;
  color: white !important;
}
.mat-success-light {
  background-color: mat-color($mat-caixa-success, light) !important;
  color: mat-color($mat-caixa-font, main) !important
}
.mat-success-dark {
  background-color: mat-color($mat-caixa-success, dark) !important;
  color: white !important
}
.mat-stroked-button.mat-success {
  background-color: white !important;
  color: mat-color($mat-caixa-success, standard) !important;
}
.mat-stroked-button.mat-success-light {
  background-color: white !important;
  color: mat-color($mat-caixa-success, light) !important;
}
.mat-stroked-button.mat-success-dark {
  background-color: white !important;
  color: mat-color($mat-caixa-success, dark) !important;
}

.mat-danger {
  background-color: mat-color($mat-caixa-danger, standard) !important;
  color: white !important;
}
.mat-danger-light {
  background-color: mat-color($mat-caixa-danger, light) !important;
  color: mat-color($mat-caixa-font, main) !important
}
.mat-danger-dark {
  background-color: mat-color($mat-caixa-danger, dark) !important;
  color: white !important
}
.mat-stroked-button.mat-danger {
  background-color: white !important;
  color: mat-color($mat-caixa-danger, standard) !important;
}
.mat-stroked-button.mat-danger-light {
  background-color: white !important;
  color: mat-color($mat-caixa-danger, light) !important;
}
.mat-stroked-button.mat-danger-dark {
  background-color: white !important;
  color: mat-color($mat-caixa-danger, dark) !important;
}

.mat-info {
  background-color: mat-color($mat-caixa-info, standard) !important;
  color: #FFFFFF !important;
}
.mat-info-light {
  background-color: mat-color($mat-caixa-info, light) !important;
  color: mat-color($mat-caixa-font, main) !important
}
.mat-info-dark {
  background-color: mat-color($mat-caixa-info, dark) !important;
  color: white !important
}
.mat-stroked-button.mat-info {
  background-color: white !important;
  color: mat-color($mat-caixa-info, standard) !important;
}
.mat-stroked-button.mat-info-light {
  background-color: white !important;
  color: mat-color($mat-caixa-info, light) !important;
}
.mat-stroked-button.mat-info-dark {
  background-color: white !important;
  color: mat-color($mat-caixa-info, dark) !important;
}

.mat-warning {
  background-color: mat-color($mat-caixa-warning, standard) !important;
  color: mat-color($mat-caixa-font, main) !important;
}
.mat-warning-light {
  background-color: mat-color($mat-caixa-warning, light) !important;
  color: mat-color($mat-caixa-font, main) !important
}
.mat-warning-dark {
  background-color: mat-color($mat-caixa-warning, dark) !important;
  color: white !important
}
.mat-stroked-button.mat-warning {
  background-color: white !important;
  color: mat-color($mat-caixa-warning, standard) !important;
}
.mat-stroked-button.mat-warning-light {
  background-color: white !important;
  color: mat-color($mat-caixa-warning, light) !important;
}
.mat-stroked-button.mat-warning-dark {
  background-color: white !important;
  color: mat-color($mat-caixa-warning, dark) !important;
}

.mat-apoio {
  background-color: mat-color($mat-caixa-apoio, standard) !important;
  color: white !important;
}
.mat-apoio-light {
  background-color: mat-color($mat-caixa-apoio, light) !important;
  color: mat-color($mat-caixa-font, main) !important
}
.mat-apoio-dark {
  background-color: mat-color($mat-caixa-apoio, dark) !important;
  color: white !important
}
.mat-stroked-button.mat-apoio {
  background-color: white !important;
  color: mat-color($mat-caixa-apoio, standard) !important;
}
.mat-stroked-button.mat-apoio-light {
  background-color: white !important;
  color: mat-color($mat-caixa-apoio, light) !important;
}
.mat-stroked-button.mat-apoio-dark {
  background-color: white !important;
  color: mat-color($mat-caixa-apoio, dark) !important;
}

.mat-aux {
  background-color: mat-color($mat-caixa-aux, standard) !important;
  color: white !important;
}
.mat-aux-light {
  background-color: mat-color($mat-caixa-aux, light) !important;
  color: white !important
}
.mat-aux-dark {
  background-color: mat-color($mat-caixa-aux, dark) !important;
  color: white !important
}
.mat-stroked-button.mat-aux {
  background-color: white !important;
  color: mat-color($mat-caixa-aux, standard) !important;
}
.mat-stroked-button.mat-aux-light {
  background-color: white !important;
  color: mat-color($mat-caixa-aux, light) !important;
}
.mat-stroked-button.mat-aux-dark {
  background-color: white !important;
  color: mat-color($mat-caixa-aux, dark) !important;
}

.mat-form-field-label {
  color: mat-color($mat-caixa-font, main) !important;
  opacity: 0.72 !important;
}
.mat-form-field-ripple,
.mat-form-field-underline {
  background-color: mat-color($mat-caixa-font, main) !important;
}

/* Input focado */
.mat-focused
.mat-form-field-ripple,
.mat-form-field-underline {
  background-color: mat-color($mat-caixa-azul, standard) !important;
}
.mat-focused .mat-form-field-label {
  color: mat-color($mat-caixa-azul, standard) !important;
}

/* Input inválido */
.mat-form-field.mat-form-field-invalid .mat-form-field-ripple,
.mat-form-field.mat-form-field-invalid .mat-form-field-underline {
  background-color: mat-color($mat-caixa-danger, standard) !important;
}
.mat-form-field.mat-form-field-invalid .mat-form-field-suffix {
  color: mat-color($mat-caixa-danger, standard) !important;
}

/* Input válido */
.mat-form-field.ng-valid .mat-form-field-ripple,
.mat-form-field.ng-valid .mat-form-field-underline {
  background-color: mat-color($mat-caixa-success, standard) !important;
}
.mat-form-field.ng-valid .mat-form-field-suffix {
  color: mat-color($mat-caixa-success, standard) !important;
}

.mat-form-field .mat-form-field-suffix .mat-icon-button {
  font-size: 1.5em !important;
}
.mat-form-field .mat-form-field-suffix .mat-icon {
  cursor: pointer;
}


html, body { height: 100%; }

body {
  color: mat-color($mat-caixa-font, main);
  margin: 0;
  font-family: Futura LT Book, Roboto, "Helvetica Neue", sans-serif;
}

.padded-list > li { padding-top: 1rem };

.mat-tab-body { margin-top: 1rem; }

mat-form-field { width: 100% !important; }

.mat-tab-body-wrapper { height: 100%; }

mat-sidenav {
  min-width: 80% !important;
  max-width: 80% !important;
}

@include media-breakpoint-up(sm) {
  mat-sidenav {
    min-width: 60% !important;
    max-width: 60% !important;
  }
}

@include media-breakpoint-up(md) {
  mat-sidenav {
    min-width: 50% !important;
    max-width: 50% !important;
  }
}

@include media-breakpoint-up(lg) {
  mat-sidenav {
    min-width: auto !important;
    max-width: 25% !important;
  }
}

 @include media-breakpoint-up(xl) {
  mat-sidenav {
    min-width: auto !important;
    max-width: 30% !important;
  }
 }

.sidenav.bg-dark .mat-menu-item,
.sidenav.bg-dark h6,
.sidenav.bg-dark .mat-icon {
  color: mat-color($mat-caixa-font, light);
  opacity: 1;
}

/*

BOOTSTRAP OVERRIDINGS

*/
h1 {  font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.50rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }
ul {
  list-style: none
};

.form-group {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 2rem;

  label {
    transition: all 0.3s ease;
    opacity: 0.8;
    font-weight: 600;
  }
  .mat-form-field-underline {
    opacity: 0.72;
  }
  input, select, textarea {
    opacity: 0.72;
    &:focus {
      +label {
        color: #005CA9;
      }
    }
  }
}
.form-control {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom-width: 2px;
  background-color: transparent;
  border-radius: 0;
  &:focus {
     box-shadow: none;
     background-color: transparent;
  }
}

.card {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14),
  0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: 0;
}
.card-header {
  background-color: transparent;
  border-bottom: 0;
  padding: 1rem;
}
.card-title {
  font-size: 1.3rem;
  font-weight: 500;
}
.card-body {
  padding: 1rem;;
}
.card-footer {
  padding: 1rem;
  background-color: transparent;
  border-top: 0;
}

.btn-secondary,
.btn-success,
.btn-success-dark,
.btn-warning-dark,
.btn-danger,
.btn-apoio,
.btn-aux {
  color: white;
}

/*

NOVAS CLASSES AUXILIARES

*/

.h-85 {
  height: 85%;
}
.h-90 {
  height: 90%;
}
.color-opac-1 {
  opacity: 0.64;
}
.color-opac-2 {
  opacity: 0.4;
}
.color-opac-3 {
  opacity: 0.24;
}

.text-opac-1 {
  opacity: 0.72;
}
.text-opac-2 {
  opacity: 0.56;
}
.text-opac-3 {
  opacity: 0.32;
}

.p-fixed {
  position: fixed !important;
}

.gradient-bg-primary {
  background: linear-gradient(130deg, rgba(0,92,169,1) 0%, rgba(84,187,171,1) 100%) !important;
}
.gradient-bg-sky {
  background: linear-gradient(130deg, rgba(0,92,169,1) 0%, rgba(0,181,229,1) 100%) !important;
}
.gradient-bg-aux {
  background: linear-gradient(130deg, rgba(0,92,169,1) 0%, rgba(178,111,155,1) 100%) !important;
}
.gradient-bg-success {
  background: linear-gradient(130deg, rgba(0,92,169,1) 0%, rgba(175,202,11,1) 100%) !important;
}
.gradient-bg-light {
  background: linear-gradient(130deg, rgba(239,245,246,1) 0%, rgba(255,255,255,1) 100%) !important;
}
.gradient-bg-dark {
  background: linear-gradient(130deg, rgba(58,72,89,1) 0%, rgba(95,118,143,1) 100%) !important;
}
.form-field-hint {
  font-weight: 400 !important;
  text-transform: lowercase;
}
