<form [formGroup]="faceSelectForm">
  <mat-form-field *ngIf="detectionAttributesArray && detectionAttributesArray.length > 1">
    <mat-label>Faces detectadas</mat-label>
    <mat-select formControlName="selectId" (selectionChange)="updateDetectionAttributes($event.value)">
      <mat-option *ngFor="let attr of detectionAttributesArray" [value]="attr.faceId">
        {{attr.faceId}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>

<mat-tab-group
  #tabGroup
  [ngClass]="(detectionAttributesArray && detectionAttributesArray.length > 1) ? 'h-90' : 'h-100'"
  *ngIf="detectionAttributes else noAttributes"
  mat-stretch-tabs
  [@simpleFadeAnimation]="'in'">
  <mat-tab label="Atributos">
    <ul>
      <li>
        <span class="font-weight-bold mr-2">ID: </span>
        {{ detectionAttributes.faceId }}
      </li>
    </ul>
    <app-material-tree
      [treeData]="treeData"
    ></app-material-tree>
  </mat-tab>


  <mat-tab *ngIf="(compareResult$ | async)" label="Comparação">
    <app-compare-result
      [compareResult$]="compareResult$"
    ></app-compare-result>
  </mat-tab>


  <mat-tab *ngIf="detectionAttributes && detectionAttributes.faceRectangle" label="Localização">
    <ul class="list-unstyled" *ngFor="let item of detectionAttributes.faceRectangle | keyvalue">
      <li>
        <span class="font-weight-bold mr-2">{{ item.key }}: </span>
        {{ item.value | number }}
      </li>
    </ul>
  </mat-tab>


  <mat-tab *ngIf="detectionAttributes && detectionAttributes.faceLandmarks" label="Pontos de referência">
    <ul class="list-unstyled" *ngFor="let item of detectionAttributes.faceLandmarks | keyvalue">
      <li>
        <span>{{ item.key }}: </span>
        <span *ngFor="let item of item.value | keyvalue">
          <br>
          <button mat-icon-button disabled></button>
          <span class="font-weight-bold mr-2">{{ item.key }}:</span> {{ item.value | number }}
        </span>
      </li>
    </ul>
  </mat-tab>
</mat-tab-group>


<ng-template
  #noAttributes>
  <div class="h-100 d-flex align-items-center" [@simpleFadeAnimation]="'in'">
    <h1 class="w-100 text-center text-muted">Consulte uma imagem para verificar seus atributos</h1>
  </div>
</ng-template>
