<div class="row">
  <div class="col-sm-6 pb-sm-5 col-xl-4">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="col-sm-6 pb-sm-3 col-xl-4">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Formulário Material</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <div class="form-group">
          <mat-form-field floatLabel="always">
            <mat-label>Teste</mat-label>
            <input matInput [formControl]="teste" placeholder="email@email.com">
            <mat-icon matSuffix (click)="teste.reset()" *ngIf="teste.dirty">{{ teste.valid ? 'check' : 'close' }}</mat-icon>
            <mat-error *ngIf="email.invalid">Erro!</mat-error>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field floatLabel="always">
            <mat-label>
              Email
            </mat-label>
            <input matInput [formControl]="email" placeholder="email@email.com">
            <mat-hint>Obrigatório</mat-hint>
            <mat-icon matSuffix (click)="email.reset()" *ngIf="email.dirty">{{ email.valid ? 'check' : 'close' }}</mat-icon>
            <mat-error *ngIf="email.invalid">Erro!</mat-error>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field floatLabel="always">
            <mat-label>
              Nome
            </mat-label>
            <input matInput [formControl]="nome" placeholder="Exemplo da Silva">
            <mat-hint>Mínimo de 5 caracteres</mat-hint>
            <mat-icon role="button" (click)="nome.reset()" *ngIf="nome.dirty" matSuffix>{{ nome.valid ? 'check' : 'close' }}</mat-icon>
            <mat-error *ngIf="nome.invalid">Erro!</mat-error>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field floatLabel="always">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field>
            <mat-label>Pokemon</mat-label>
            <mat-select [formControl]="pokemonControl">
              <mat-option>-- None --</mat-option>
              <mat-optgroup *ngFor="let group of pokemonGroups" [label]="group.name"
                            [disabled]="group.disabled">
                <mat-option *ngFor="let pokemon of group.pokemon" [value]="pokemon.value">
                  {{pokemon.viewValue}}
                </mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-slider
            thumbLabel
            [displayWith]="formatLabel"
            class="w-100"
            tickInterval="1000"
            min="1"
            max="100000">
          </mat-slider>
        </div>

        <div class="d-flex justify-content-between">
          <button mat-raised-button color="primary" (click)="showMessage('Informação!', 'Info')">Primary</button>
          <button mat-raised-button color="accent" (click)="showMessage('Atenção!', 'Warn')">Accent</button>
          <button mat-raised-button color="warn" (click)="showMessage('Erro!', 'Error')">Warn</button>
          <button mat-raised-button color="success" (click)="showMessage('Sucesso!', 'Success')">Warn</button>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-sm-6 col-xl-4">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          Formulário Bootstrap
        </div>
      </div>
      <div class="card-body">

        <div class="form-group">
          <input name="teste" class="form-control" placeholder="Teste">
          <label for="teste" class="form-control-placeholder">Teste</label>
        </div>

        <div class="form-group">
          <input class="form-control">
          <label>Teste</label>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-aux">Botão</button>
      </div>
    </div>
  </div>
</div>

<br>

<h2 class="text-primary-light text-opac-1 mt-3">Títulos</h2>
<hr class="border-primary-light color-opac-2 mb-5">

<h1 class="text-info">Título H1</h1>
<h2 class="text-primary">Título H2</h2>
<h3 class="text-secondary">Título H3</h3>
<h4 class="text-warning">Título H4</h4>
<h5 class="text-danger">Título H5</h5>
<h6>Título H6</h6>

<br>

<h2 class="text-primary-light text-opac-1">Cores</h2>
<hr class="border-primary-light color-opac-3 mb-5">

<div class="row">

  <div class="col">
    <h3 class="text-primary text-opac-1 mt-3 mb-5">Botões do Material</h3>

    <div class="d-flex painel-botoes mb-3">
      <button mat-raised-button color="azul">Primária padrão</button>
      <button mat-raised-button color="azul-light">Primária clara</button>
      <button mat-raised-button color="azul-dark">Primária escura</button>
    </div>

    <div class="d-flex painel-botoes mb-3">
      <button mat-raised-button color="secondary">Secundária</button>
      <button mat-raised-button color="secondary-light">Secundária clara</button>
      <button mat-raised-button color="secondary-dark">Secundária escura</button>
    </div>

    <div class="d-flex painel-botoes mb-3">
      <button mat-raised-button color="success">Sucesso</button>
      <button mat-raised-button color="success-light">Sucesso clara</button>
      <button mat-raised-button color="success-dark">Sucesso escura</button>
    </div>

    <div class="d-flex painel-botoes mb-3">
      <button mat-raised-button color="danger">Erro</button>
      <button mat-raised-button color="danger-light">Erro clara</button>
      <button mat-raised-button color="danger-dark">Erro escura</button>
    </div>

    <div class="d-flex painel-botoes mb-3">
      <button mat-raised-button color="info">Info</button>
      <button mat-raised-button color="info-light">Info clara</button>
      <button mat-raised-button color="info-dark">Info escura</button>
    </div>

    <div class="d-flex painel-botoes mb-3">
      <button mat-raised-button color="warning">Atenção</button>
      <button mat-raised-button color="warning-light">Atenção clara</button>
      <button mat-raised-button color="warning-dark">Atenção escura</button>
    </div>

    <div class="d-flex painel-botoes mb-3">
      <button mat-raised-button color="apoio">Apoio</button>
      <button mat-raised-button color="apoio-light">Apoio clara</button>
      <button mat-raised-button color="apoio-dark">Apoio escura</button>
    </div>

    <div class="d-flex painel-botoes mb-3">
      <button mat-raised-button color="aux">Auxiliar</button>
      <button mat-raised-button color="aux-light">Auxiliar clara</button>
      <button mat-raised-button color="aux-dark">Auxiliar escura</button>
    </div>

    <div class="d-flex painel-botoes mb-3">
      <button mat-stroked-button color="azul">Primária padrão</button>
      <button mat-stroked-button color="azul-light">Primária clara</button>
      <button mat-stroked-button color="azul-dark">Primária escura</button>
      </div>

      <div class="d-flex painel-botoes mb-3">
      <button mat-stroked-button color="secondary">Secundária</button>
      <button mat-stroked-button color="secondary-light">Secundária clara</button>
      <button mat-stroked-button color="secondary-dark">Secundária escura</button>
      </div>

      <div class="d-flex painel-botoes mb-3">
      <button mat-stroked-button color="success">Sucesso</button>
      <button mat-stroked-button color="success-light">Sucesso clara</button>
      <button mat-stroked-button color="success-dark">Sucesso escura</button>
      </div>

      <div class="d-flex painel-botoes mb-3">
      <button mat-stroked-button color="danger">Erro</button>
      <button mat-stroked-button color="danger-light">Erro clara</button>
      <button mat-stroked-button color="danger-dark">Erro escura</button>
      </div>

      <div class="d-flex painel-botoes mb-3">
      <button mat-stroked-button color="info">Info</button>
      <button mat-stroked-button color="info-light">Info clara</button>
      <button mat-stroked-button color="info-dark">Info escura</button>
      </div>

      <div class="d-flex painel-botoes mb-3">
      <button mat-stroked-button color="warning">Atenção</button>
      <button mat-stroked-button color="warning-light">Atenção clara</button>
      <button mat-stroked-button color="warning-dark">Atenção escura</button>
      </div>

      <div class="d-flex painel-botoes mb-3">
      <button mat-stroked-button color="apoio">Apoio</button>
      <button mat-stroked-button color="apoio-light">Apoio clara</button>
      <button mat-stroked-button color="apoio-dark">Apoio escura</button>
      </div>

      <div class="d-flex painel-botoes mb-3">
      <button mat-stroked-button color="aux">Auxiliar</button>
      <button mat-stroked-button color="aux-light">Auxiliar clara</button>
      <button mat-stroked-button color="aux-dark">Auxiliar escura</button>
    </div>
  </div>

  <!-- Segunda coluna -->

  <div class="col">
    <h3 class="text-primary text-opac-1 mt-3 mb-5">Botões do Bootstrap</h3>

    <div class="d-flex painel-botoes mb-3">
      <button class="btn btn-primary">Primária padrão</button>
      <button class="btn btn-primary-light">Primária clara</button>
      <button class="btn btn-primary-dark">Primária escura</button>
    </div>

    <div class="d-flex painel-botoes mb-3">
      <button class="btn btn-secondary">Secundária</button>
      <button class="btn btn-secondary-light">Secundária clara</button>
      <button class="btn btn-secondary-dark">Secundária escura</button>
    </div>

    <div class="d-flex painel-botoes mb-3">
      <button class="btn btn-success">Sucesso</button>
      <button class="btn btn-success-light">Sucesso clara</button>
      <button class="btn btn-success-dark">Sucesso escura</button>
    </div>

      <div class="d-flex painel-botoes mb-3">
      <button class="btn btn-danger">Erro</button>
      <button class="btn btn-danger-light">Erro clara</button>
      <button class="btn btn-danger-dark">Erro escura</button>
      </div>

      <div class="d-flex painel-botoes mb-3">
      <button class="btn btn-info">Info</button>
      <button class="btn btn-info-light">Info clara</button>
      <button class="btn btn-info-dark">Info escura</button>
      </div>

      <div class="d-flex painel-botoes mb-3">
      <button class="btn btn-warning">Atenção</button>
      <button class="btn btn-warning-light">Atenção clara</button>
      <button class="btn btn-warning-dark">Atenção escura</button>
      </div>

      <div class="d-flex painel-botoes mb-3">
      <button class="btn btn-apoio">Apoio</button>
      <button class="btn btn-apoio-light">Apoio clara</button>
      <button class="btn btn-apoio-dark">Apoio escura</button>
      </div>

      <div class="d-flex painel-botoes mb-3">
      <button class="btn btn-aux">Auxiliar</button>
      <button class="btn btn-aux-light">Auxiliar clara</button>
      <button class="btn btn-aux-dark">Auxiliar escura</button>
      </div>

      <div class="d-flex painel-botoes mb-3">
        <button class="btn btn-outline-primary">Primária padrão</button>
        <button class="btn btn-outline-primary-light">Primária clara</button>
        <button class="btn btn-outline-primary-dark">Primária escura</button>
        </div>

        <div class="d-flex painel-botoes mb-3">
        <button class="btn btn-outline-secondary">Secundária</button>
        <button class="btn btn-outline-secondary-light">Secundária clara</button>
        <button class="btn btn-outline-secondary-dark">Secundária escura</button>
        </div>

        <div class="d-flex painel-botoes mb-3">
        <button class="btn btn-outline-success">Sucesso</button>
        <button class="btn btn-outline-success-light">Sucesso clara</button>
        <button class="btn btn-outline-success-dark">Sucesso escura</button>
        </div>

        <div class="d-flex painel-botoes mb-3">
        <button class="btn btn-outline-danger">Erro</button>
        <button class="btn btn-outline-danger-light">Erro clara</button>
        <button class="btn btn-outline-danger-dark">Erro escura</button>
        </div>

        <div class="d-flex painel-botoes mb-3">
        <button class="btn btn-outline-info">Info</button>
        <button class="btn btn-outline-info-light">Info clara</button>
        <button class="btn btn-outline-info-dark">Info escura</button>
        </div>

        <div class="d-flex painel-botoes mb-3">
        <button class="btn btn-outline-warning">Atenção</button>
        <button class="btn btn-outline-warning-light">Atenção clara</button>
        <button class="btn btn-outline-warning-dark">Atenção escura</button>
        </div>

        <div class="d-flex painel-botoes mb-3">
        <button class="btn btn-outline-apoio">Apoio</button>
        <button class="btn btn-outline-apoio-light">Apoio clara</button>
        <button class="btn btn-outline-apoio-dark">Apoio escura</button>
        </div>

        <div class="d-flex painel-botoes mb-3">
        <button class="btn btn-outline-aux">Auxiliar</button>
        <button class="btn btn-outline-aux-light">Auxiliar clara</button>
        <button class="btn btn-outline-aux-dark">Auxiliar escura</button>
        </div>
  </div>
</div>

<h3 class="text-primary text-opac-1 mt-3 mb-5">Cores de fundo - Bootstrap</h3>

<div class="row">
  <div class="col">
    <div class="d-flex flex-wrap mb-3">
      <div class="square bg-primary">
        <div class="h-100 text-white d-flex align-items-center">
          <span class="w-100 mx-auto text-center">Primária</span>
        </div>
      </div>
      <div class="square bg-primary-light">
        <div class="h-100 text-white d-flex align-items-center">
          <span class="w-100 mx-auto text-center">Primária Clara</span>
        </div>
      </div>
      <div class="square bg-primary-dark">
        <div class="h-100 text-white d-flex align-items-center">
          <span class="w-100 mx-auto text-center">Primária Escura</span>
        </div>
      </div>
    </div>

    <div class="d-flex flex-wrap mb-3">
      <div class="square bg-secondary">
        <div class="h-100 text-white d-flex align-items-center">
          <span class="w-100 mx-auto text-center">Secondária</span>
        </div>
      </div>
      <div class="square bg-secondary-light">
        <div class="h-100 text-white d-flex align-items-center">
          <span class="w-100 mx-auto text-center">Secondária Clara</span>
        </div>
      </div>
      <div class="square bg-secondary-dark">
        <div class="h-100 text-white d-flex align-items-center">
          <span class="w-100 mx-auto text-center">Secondária Escura</span>
        </div>
      </div>
    </div>

    <div class="d-flex flex-wrap mb-3">
      <div class="square bg-success">
        <div class="h-100 text-white d-flex align-items-center">
          <span class="w-100 mx-auto text-center">Sucesso</span>
        </div>
      </div>
      <div class="square bg-success-light">
        <div class="h-100 text-white d-flex align-items-center">
          <span class="w-100 mx-auto text-center">Sucesso Clara</span>
        </div>
      </div>
      <div class="square bg-success-dark">
        <div class="h-100 text-white d-flex align-items-center">
          <span class="w-100 mx-auto text-center">Sucesso Escura</span>
        </div>
      </div>
    </div>

    <div class="d-flex flex-wrap mb-3">
      <div class="square bg-danger">
        <div class="h-100 text-white d-flex align-items-center">
          <span class="w-100 mx-auto text-center">Erro</span>
        </div>
      </div>
      <div class="square bg-danger-light">
        <div class="h-100 text-white d-flex align-items-center">
          <span class="w-100 mx-auto text-center">Erro Clara</span>
        </div>
      </div>
      <div class="square bg-danger-dark">
        <div class="h-100 text-white d-flex align-items-center">
          <span class="w-100 mx-auto text-center">Erro Escura</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Segunda coluna -->

  <div class="col">
    <div class="d-flex flex-wrap mb-3">
      <div class="square bg-info">
        <div class="h-100 text-white d-flex align-items-center">
          <span class="w-100 mx-auto text-center">Info</span>
        </div>
      </div>
      <div class="square bg-info-light">
        <div class="h-100 text-white d-flex align-items-center">
          <span class="w-100 mx-auto text-center">Info Clara</span>
        </div>
      </div>
      <div class="square bg-info-dark">
        <div class="h-100 text-white d-flex align-items-center">
          <span class="w-100 mx-auto text-center">Info Escura</span>
        </div>
      </div>
    </div>

    <div class="d-flex flex-wrap mb-3">
      <div class="square bg-warning">
        <div class="h-100 text-white d-flex align-items-center">
          <span class="w-100 mx-auto text-center">Alerta</span>
        </div>
      </div>
      <div class="square bg-warning-light">
        <div class="h-100 text-white d-flex align-items-center">
          <span class="w-100 mx-auto text-center">Alerta Clara</span>
        </div>
      </div>
      <div class="square bg-warning-dark">
        <div class="h-100 text-white d-flex align-items-center">
          <span class="w-100 mx-auto text-center">Alerta Escura</span>
        </div>
      </div>
    </div>

    <div class="d-flex flex-wrap mb-3">
      <div class="square bg-apoio">
        <div class="h-100 text-white d-flex align-items-center">
          <span class="w-100 mx-auto text-center">Apoio</span>
        </div>
      </div>
      <div class="square bg-apoio-light">
        <div class="h-100 text-white d-flex align-items-center">
          <span class="w-100 mx-auto text-center">Apoio Clara</span>
        </div>
      </div>
      <div class="square bg-apoio-dark">
        <div class="h-100 text-white d-flex align-items-center">
          <span class="w-100 mx-auto text-center">Apoio Escura</span>
        </div>
      </div>
    </div>

    <div class="d-flex flex-wrap mb-3">
      <div class="square bg-aux">
        <div class="h-100 text-white d-flex align-items-center">
          <span class="w-100 mx-auto text-center">Auxiliar</span>
        </div>
      </div>
      <div class="square bg-aux-light">
        <div class="h-100 text-white d-flex align-items-center">
          <span class="w-100 mx-auto text-center">Auxiliar Clara</span>
        </div>
      </div>
      <div class="square bg-aux-dark">
        <div class="h-100 text-white d-flex align-items-center">
          <span class="w-100 mx-auto text-center">Auxiliar Escura</span>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<h2 class="text-primary-light text-opac-1 mt-3">Formulários e cards</h2>
<hr class="border-primary-light color-opac-3 mb-5">

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Dados pessoais
      </mat-panel-title>
      <mat-panel-description>
        Digite seu nome e idade
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="row">
      <mat-form-field class="col-4">
        <mat-label>Nome</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field class="col-4">
        <mat-label>Idade</mat-label>
        <input matInput type="number" min="1">
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Painel ciente
      </mat-panel-title>
      <mat-panel-description>
        Atualmente estou {{panelOpenState ? 'aberto' : 'fechado'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Estou visível porque estou aberto</p>
  </mat-expansion-panel>
</mat-accordion>
