.square {
  display: block;
  margin-left: 2rem;
  margin-right: 2rem;
  height: 200px;
  width: 200px;
}

.painel-botoes>button {
  margin-right: 1rem;
}

.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}



.form-control-placeholder {
  display: inline-block;
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
}

/* .form-control:focus + .form-control-placeholder, */
.form-control:not(:placeholder-shown) + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  padding: 0;
  opacity: 1;
}
